/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jun, 2018, 11:21:21 AM
    Author     : hemanthi
*/

table.dummy {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

table.dummy td {
    text-align: left;
    padding: 15px;
    
}
table.dummy td:nth-child(even){
    color: black;
    font-weight: bold;
}

table.dummy td:nth-child(odd){
    color: black;
}
table.dummy tr td:last-child {
  text-align: left;
}

